<section id="about" class="page-section">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">About</h2>
      <h3 class="section-subheading text-muted">
        Personalized Support for Lifelong Learning and Inclusion.
      </h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/index/about/1.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel bg-faded rounded">
          <div class="timeline-heading">
            <h4>2008–2010</h4>
            <h4 class="subheading">It started with an idea</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              In 2008, a speech and language consultant (SLP) for adults with
              IDD in the local area thought there was a need for a
              communication-based day program. This SLP along with a trusted
              assistant (SLP-A) who had experience managing such a program
              banded together to create a program that place a large emphasis on
              promoting all forms of communication and to support self-advocacy.
            </p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/index/about/2.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel bg-faded rounded">
          <div class="timeline-heading">
            <h4>March 2010</h4>
            <h4 class="subheading">An Agency Is Born</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Since opening our doors in 2010, Adult Day Experiences (ADE) has
              been dedicated to supporting adults with developmental
              disabilities in building greater independence. We believe that
              independence begins with the ability to communicate. That’s why
              communication is the cornerstone of our program—emphasized
              throughout every activity, every day.
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/index/about/3.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel bg-faded rounded">
          <div class="timeline-heading">
            <h4>December 2014</h4>
            <h4 class="subheading">Phase Too!</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              By popular demand and an abundance need, ADE opened a second
              location, Adult Day Experiences, Too! It is conveniently located
              right across the parking lot, ensuring owner/director oversight at
              both locations. While the program design is identical to the
              original program, they have different qualities, and it’s the
              individuals that make them different.
            </p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/index/about/4.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel bg-faded rounded">
          <div class="timeline-heading">
            <h4>Today</h4>
            <h4 class="subheading">What you can expect</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              At ADE, we offer a stimulating, person-centered program designed
              to challenge individuals daily and celebrate their
              accomplishments. Our goal is to create an environment where
              participants feel safe, respected, and empowered, and where they
              are always treated with dignity. We also prioritize social
              connection, providing opportunities for meaningful interactions,
              peer bonding, and lasting friendships.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
