---
import ApplyModal from "../modals/ApplyModal.astro";
---

<section id="apply" class="page-section">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="section-heading text-uppercase">
          Discover Your Next Step with Us!
        </h2>
        <hr class="divider divider-light" />
        <p class="text-white-75 mb-4">
          Join us and take the first step toward an exciting future! Whether
          you're interested in exploring our facilities or ready to apply, we're
          here to help you every step of the way.
        </p>
        <a
          data-nav
          data-page="/faq"
          data-element-id="tourHeading"
          class="btn btn-light btn-xl schedule-tour-btn">Schedule a Tour</a
        >
        <button
          class="btn btn-primary btn-xl"
          data-bs-toggle="modal"
          data-bs-target="#applyModal">Apply Now</button
        >
      </div>
    </div>
  </div>
</section>

<ApplyModal />
