<header class="masthead">
  <div class="container">
    <img src="assets/img/ade-logo.png" alt="ADE Logo" class="logo" />
    <div class="masthead-heading text-uppercase">Welcome To ADE</div>
    <div class="masthead-subheading">
      A Remarkable Program for Remarkable People!
    </div>
  </div>
</header>
