<section id="mission" class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded text-center rounded">
          <h2 class="section-heading text-uppercase">Our Mission</h2>
          <p class="mb-3">
            At Adult Day Experiences, our mission is to support every individual
            in developing strong, effective communication skills. We believe
            that communication is the foundation of independence—and by
            improving communication, individuals are empowered to recognize and
            reach their fullest potential.
          </p>
        </div>
      </div>
      <img
        class="intro-img img-fluid rounded"
        src="assets/img/index/mission.jpg"
        alt="Our Mission Image"
      />
    </div>
  </div>
</section>
