<section id="philosophy" class="page-section cta section-offwhite">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded text-center rounded">
          <h2 class="section-heading text-uppercase">Our Philosophy</h2>
          <p class="mb-0">
            Our program is built around the principles of clarity, connection,
            and confidence, focusing on communication that is both efficient and
            meaningful. These skills are essential for navigating daily life,
            building relationships, and achieving greater autonomy. Patterns =
            Predictability = Safety = Calm = Connection = Cooperation. It starts
            with routines — routines create patterns, patterns create
            predictability, predictability creates safety, safety creates calm,
            calm opens the door to connection, and connection leads to
            cooperation. — Conscious Discipline
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
