---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page Not Found | Adult Day Experiences" alwaysShrink={true}>
  <section class="container text-center py-5">
    <h1 class="display-4 fw-bold">404</h1>
    <p class="lead mb-4">Oops — we couldn’t find that page.</p>

    <a href="/" class="btn btn-primary"> Return to Home </a>
  </section>
</BaseLayout>
