<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 text-center">
        Copyright &copy; Adult Day Experiences 2025
      </div>
    </div>
  </div>
</footer>
